

body {
    background-image: url("../images/flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Serif KR', sans-serif;

}
.card {
    color: black;
    margin: 50px auto;
    width: 500px;
    height: auto;
    padding: 20px;
    text-align: center;
}


button {
    margin-top: 30px; 
}

label {
    display: inline;
    padding-right: 5px;
}

#timer {
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    margin-top: 40px;
    font-size: 18px;
}

.button {
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    background-color: #C00000;
    border-color: #C00000;
}
